$nav-height: 6rem;



$purple: #928DFF;
$purple-light: #e9e8ff;
$seafoam: #00FF81;
$seafoam-light: #c3ffe2;
$orange: #FF8000;
$pink: #FF0DCB;
$pink-light: #FF7be3;
$yellow: #FFFC00;
$grey1: rgb(220, 220, 220);
$grey3: #9b9b9b;
$grey5: #4a4a4a;
