.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-start;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 27rem;
	min-height: 15rem;
	margin: 3rem 1.5rem 0;
	padding-bottom: 2rem;

	.squiggle {
		margin: -1rem auto 1rem;
	}

	.card__cta {
		text-align: center;
		margin-top: 2rem;

		a {
			display: inline-block;
		}
	}
}

.sectionHeader {
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 2rem;
	background-color: $yellow;
}

.card__header,
.card__footer {
	/*padding: 0 2rem;*/
	margin: 2rem auto 0;
}

.card__cover {
	margin-bottom: 2rem;
}

.card__body {
	margin: 0 auto 2rem;
}

.card__header {
	margin-bottom: 1rem;
}

.card__body,
.card__footer {
	width: 100%;
	flex-grow: 1;
	text-align: left;
}

.card__footer > .card__cta:first-child {
	margin-top: 0;
}

.card--wide {
	width: 26%;
	margin: 3rem 3% 0;
}

.card__title {
	margin-bottom: 1rem;
}

.card__cover {
	position: relative;
	width: 100%;
	padding-bottom: 70%;
}

.card__cover figure {
	@mixin abs-full-size;

	img {
		object-fit: cover;
	}

	figure .loading-placeholder {
		display: none;
		padding-bottom: initial;
		width: 100%;
		height: 100%;
	}
}

.squiggle {
	position: relative;
	z-index: 10;
	img {
		width: 5rem;
		transform: scale(2);
	}
}

.icon {
	border: 1px solid currentColor;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	padding: 7px;
	background-color: white;
}

.icon--down {
	border: none;
	height: 1em;
	width: 2em;
	padding: 0;
	margin: 0 0.5rem;
	display: inline-block;
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		transform-origin: 50% 100%;
		bottom: 25%;
		height: 1px;
		width: 50%;
		background-color: currentColor;
	}

	&:before {
		right: 44%;
		transform: rotate(45deg);
	}

	&:after {
		left: 44%;
		transform: rotate(-45deg);
	}
}

.avatar {
	position: relative;
	overflow: hidden;

	figure,
	figure.responsiveImage,
	.responsiveImage img,
	video {
		transition: 0.2s;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	figure {
		opacity: 1;
		z-index: 2;
	}

	video {
		opacity: 0;
		z-index: 1;
	}

	&.avatar--playing {
		figure {
			opacity: 0;
		}
		video {
			opacity: 1;
		}
	}
}

.avatar--round {
	border-radius: 100rem;
	border: 2px solid currentColor;
}

.avatar__padding {
	width: 100%;
}

/*$purple: rgba(146, 141, 255, 1);
$purple-50: rgba(146, 141, 255, 0.5);
$purple-light: #e9e8ff;
$seafoam: #00FF81;
$seafoam-light: #c3ffe2;
$orange: #FF8000;
$orange-light: #fdc791;
$pink: #FF0DCB;
$pink-light: #FF7be3;
$pink-medium-light: #ffc9f4;
$pink-extra-light: #FFECF8;
$yellow: #FFFC00;
$grey1: rgb(220, 220, 220);
$grey3: #9b9b9b;
$grey5: #4a4a4a;*/

.squigglePaths {
	position: fixed;
	top: -100px;
	left: -100px;
	height: 0;
	width: 0;
}

.squiggle {
	position: relative;
	width: 8rem;
	height: 5rem;
	background-image: linear-gradient(to left, $purple, $purple-light, $purple);
	background-repeat: repeat;
	background-size: 200% 100%;
	clip-path: url(#squiggle0);
	outline: 1px solid white;
	animation: scrollBackground 6s infinite cubic-bezier(0.86, 0.34, 0.6, 0.81);
}

.squiggle--seafoam {
	background-image: linear-gradient(
		to left,
		$seafoam,
		$seafoam-light,
		$seafoam
	);
}

.squiggle--yellow {
	background-image: linear-gradient(to left, $yellow, $yellow-orange, $yellow);
}

.squiggle--pink {
	background-image: linear-gradient(to left, $pink, $pink-light, $pink);
}

.squiggle--orange {
	background-image: linear-gradient(to left, $orange, $yellow-orange, $orange);
}

@keyframes scrollBackground {
	0% {
		background-position: 0 0;
	}
	20% {
		background-position: -130% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

.squiggle--0 {
	clip-path: url(#squiggle0);
	animation-delay: 0s;
}
.squiggle--1 {
	clip-path: url(#squiggle1);
	animation-delay: 0.15s;
}
.squiggle--2 {
	clip-path: url(#squiggle2);
	animation-delay: 0.3s;
}
.squiggle--3 {
	clip-path: url(#squiggle3);
	animation-delay: 0.45s;
}
.squiggle--4 {
	clip-path: url(#squiggle4);
	animation-delay: 0.6s;
}
.squiggle--5 {
	clip-path: url(#squiggle5);
	animation-delay: 0.75s;
}
.squiggle--6 {
	clip-path: url(#squiggle6);
	animation-delay: 0.9s;
}
.squiggle--7 {
	clip-path: url(#squiggle7);
	animation-delay: 0.9s;
}

.highlight {
	position: relative;
	z-index: 10;

	svg {
		fill: $pink-medium-light;
		z-index: -1;
		position: absolute;
		width: calc(100% + 2rem);
		height: 100%;
		left: -1rem;
		top: 0.4em;
		max-height: 1em;
	}
}

.highlight__inner {
	position: relative;
	display: inline-block;
}
