@import url('https://use.typekit.net/boc8ucm.css');
@import url('https://fonts.googleapis.com/css?family=DM+Sans|DM+Serif+Text&display=swap');

/**
 * 'basic-sans', 300, 300i, 400, 400i, 700, 700i
 * 'bodoni-urw', 400, 400i, 700, 700i
 */

/* font-family: 'DM Serif Text', serif; */
/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Lora', serif; */
/* font-family: 'Gentium Basic', serif; */
/* font-family: 'Gentium Book Basic', serif; */
/* /1* $sans: 'basic-sans', 'Helvetica Neue', helvetica, sans-serif; *1/ */
$sans: 'DM Sans', 'Helvetica Neue', helvetica, sans-serif;
$serif: 'DM Serif Display', Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;

$h1: 4.78rem;
$h2: 3.4rem;
$h3: 2.38rem;
$h4: 1.6rem;
$h5: 1.25rem;
$p: 1.2rem;

body {
  font-family: $sans;
}
h1 {
  font-size: $h1;
}
h2 {
  font-size: $h2;
}
h3 {
  font-size: $h3;
}
h4 {
  font-size: $h4;
  line-height: 1.6em;
}
p {
  font-size: $h4;
  line-height: 1.6em;
}
li,
input,
button,
textarea,
select,
label {
  font-size: $p;
}
li {
  font-family: $sans;
  font-size: $h4;
  line-height: 1.94rem;
}
h5 {
  font-size: $h5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.05em;
}

p + p {
  margin-top: 1em;
}

strong {
  font-weight: 700;
}
em {
  font-style: italic;
}

li {
  list-style-type: none;
}

@media screen and (max-width: $break-small) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}
