button {
	cursor: pointer;
}

/**
 * "Call to action" items - Buttons or links
 */

.cta {
	position: relative;
	padding: 0.25em 0.75em;
	text-transform: uppercase;

	&:before {
		@mixin abs-full-size;
		content: '';
		border: 1px solid currentColor;
		transform: skew(-7deg);
		background: white;
		z-index: -1;
	}
}

.cta--primary {
	@extend .cta;

	&:after {
		@mixin abs-full-size;
		content: '';
		border: 1px solid currentColor;
		transform: translate(0.3em, 0.3em) skew(-7deg);
		background: white;
		z-index: -2;
	}
}

button.scrollTrigger {
	width: 100%;
}

/**
 * Forms
 */

input, select {
	border: 1px solid black;
	padding: 0.9rem 0.8rem;
	background: white;
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

.field input,
.field select {
	width: 100%;
}

/**
 * Field States
 */

.field--hidden {
	display: none;
}

.field--invalid {
	.field__helptext {
		color: red;
	}
}


/**
 * Field Components
 */

button[type="submit"] {
	@extend .cta;
	margin-top: 2rem;
}

section.login > form {
	padding: 2rem;
	border: 1px solid;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.field-break {
	width: 100%;
	border: 0;
	height: 1px;
	margin: 0;
	opacity: 0;
	background-color: $pink-light;
}

$gutter: 2rem;

.fieldset.horizontal {
	padding-top: 2rem;
	display: grid;
	grid-gap: 2rem;
	grid-template-columns: 1fr 1fr 1fr;
}

.fieldset.horizontal--two {
	@extend .fieldset.horizontal;
	grid-template-columns: 1fr 1fr;
}

.fieldset.horizontal--four {
	@extend .fieldset.horizontal;
	grid-template-columns: 1fr 1fr 1fr 1fr;

}






/**
 * Sequential Forms (step by step)
 */


.form__step {
	display: none;
}

.form__step--active {
	display: block;
}

.form__step--advanceButton {
	pointer-events: none;
	opacity: 0.5;
	margin: 2rem 0 0 auto;
	display: block;
}

.form__step--canAdvance {
	.form__step--advanceButton {
		pointer-events: initial;
		opacity: 1;
	}
}
