/**
 * "Call to action" items - Buttons or links
 */

.cta {
	position: relative;
	padding: 0.25em 0.75em;
	text-transform: uppercase;

	&:before {
		@mixin abs-full-size;
		content: '';
		border: 1px solid currentColor;
		transform: skew(-7deg);
		background: white;
		z-index: -1;
	}
}

.cta--primary {
	@extend .cta;

	&:after {
		@mixin abs-full-size;
		content: '';
		border: 1px solid currentColor;
		transform: translate(0.3em, 0.3em) skew(-7deg);
		background: white;
		z-index: -2;

	}
}

button.scrollTrigger {
	width: 100%;
}
