$nav-height: 6rem;
$aside-width: 18rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$top-line: 3rem;

$purple: rgba(146, 141, 255, 1);
$purple-50: rgba(146, 141, 255, 0.5);
$purple-light: #e9e8ff;
$seafoam: #00ff81;
$seafoam-light: #c3ffe2;
$orange: #ff8000;
$orange-light: #fdc791;
$pink: #ff0dcb;
$pink-light: #ff7be3;
$pink-medium-light: #ffc9f4;
$pink-extra-light: #ffecf8;
$yellow: #fffc00;
$yellow-orange: #ffd400;
$grey1: rgb(220, 220, 220);
$grey3: #9b9b9b;
$grey5: #4a4a4a;
$teal: #81f9fd;

$break-xl: 1100px;
$break-large: 920px;
$break-medium: 740px;
$break-small: 520px;
