section.classes main {
	background-color: white;
	position: relative;
	padding: 10rem 0;
}

@media screen and (max-width: $break-medium) {
	section.classes main {
		padding-top: 4rem;
	}
}

.classTypes {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.classType {
	width: calc(33% - 4rem);
	min-width: 20rem;

	.squiggle {
		margin: 1rem auto;
	}

	button {
		margin: 0 auto;
	}
}

.classType__title {
	text-transform: uppercase;
	text-align: center;
}

.classType__thumbnail {
	width: calc(25% - 1rem);
	margin: 0.5rem;
	overflow: hidden;
	position: relative;

	figure {
		@mixin abs-full-size;
	}
}

.classType__description {
	margin: 2rem 0;
}

.classType__choreographers {
	margin: 2rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	h4 {
		width: 100%;
	}

	li {
		width: 50%;
	}
}

.card--class {
	background-color: initial;
	border-radius: 0;
	box-shadow: none;

	.card__body {
		flex-grow: initial;
		min-height: 12rem;
	}
	.card__footer {
		flex-grow: initial;
		flex-basis: initial;
	}

	/*.card__cover figure {
		mix-blend-mode: luminosity;
	}*/
}

.card--class__choreographers {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

	h3 {
		flex-basis: 100%;
		text-transform: uppercase;
	}

	.avatar {
		width: 7rem;
		height: 7rem;
		color: $pink;
		pointer-events: none;
	}
}

.card--class__avatarButtons {
	margin-top: 1rem;
	flex-grow: 1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-basis: calc(100% - 9rem);

	button {
		text-align: left;
		margin-bottom: 0.5rem;

		p {
			display: inline;
			transition: color 0.2s;
		}

		p.active {
			color: $pink;
		}
	}
}

.card--pass {
	.card__cover {
		position: static;
		padding-bottom: initial;
		margin: 2rem auto;

		figure {
			position: relative;
			margin: 0 auto;
			width: 10rem;
			height: 10rem;
		}

		img {
			object-fit: contain;
		}
	}

	.card__title {
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.card__body {
		margin-top: 2rem;
		margin-bottom: 0;
	}

	.card__body,
	.card__footer {
		text-align: center;
	}
}

.info__section--passtype {
	margin-top: 3rem;
	.info__title {
		margin-bottom: 0;
	}
	.info__subtitle {
		display: none;
	}
	.card {
		color: $seafoam-light;
		border: 4px solid currentColor;
		padding-top: 0;

		h1,
		h2,
		h3,
		h4,
		h5,
		p {
			color: black;
		}
	}

	.card__header {
		margin: 0 0 2rem 0;
		padding: 1rem;
		background-color: currentColor;
	}

	.card__title {
		/* margin-bottom: 0; */
	}
}

.info__section--passtype {
	.info__title {
		font-family: $sans;
		font-weight: 400;
	}
}

.info__section--classtype {
	margin-bottom: 5rem;

	.highlight svg {
		display: none;
	}
}

.info__section--passtype:nth-of-type(5n + 1) {
	.highlight svg {
		fill: $pink-medium-light;
	}

	.card--pass {
		color: $pink-light;
	}
}

.info__section--passtype:nth-of-type(5n + 2) {
	.highlight svg {
		fill: $seafoam-light;
	}

	.card--pass {
		color: $seafoam-light;
	}
}

.info__section--passtype:nth-of-type(5n + 3) {
	.highlight svg {
		fill: $yellow;
	}

	.card--pass {
		color: $yellow;
	}
}

.info__section--passtype:nth-of-type(5n + 4) {
	.highlight svg {
		fill: $orange-light;
	}

	.card--pass {
		color: $orange;
	}
}

.info__section--werkshops,
.info__section--love-club {
	.card {
		width: 50rem;
	}
	.card__body {
		max-width: 30rem;
	}
}

/*.card__cover--orange {
	background-color: $orange;
}

.card__cover--yellow {
	background-color: $yellow;
}

.card__cover--pink {
	background-color: $pink;
}

.card__cover--seafoam {
	background-color: $seafoam;
}

.card__cover--purple {
	background-color: $purple;
}*/
