footer {
	background: $pink-medium-light;
	color: $pink;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	line-height: 2.2em;
}

.footer__nav {
	margin-bottom: 2rem;

	a {
		text-decoration: underline;
	}
}

.footer__logo {
	width: 10rem;
}

.footer__logo,
.footer__text,
.footer__address {
	margin-bottom: 2rem;
}

.footer__social {
}

.footer__social-icon {
	margin: 0 0.5rem;

	.icon {
		background: white;
		width: 45px;
		height: 45px;
		padding: 12px;
		color: $pink;
	}
}
