body {
	padding-top: $nav-height;
}

.column {
	width: calc(100% - 4rem);
	max-width: 90rem;
	margin: 0 auto;
}

.column--wide {
	max-width: 120rem;
}

section {
	margin-top: $nav-height;
}

.flex-column {
}

.flex-center {
	justify-content: center;
}
