
.info__section > .title {
	text-transform: uppercase;
}

.info__header {
	text-align: center;
}

.info__cover {
	max-width: 40rem;
	margin: 0 auto;
}

.info__title {
	font-style: italic;
	font-weight: 600;
	display: inline-block;
}

.info__subtitle {
	margin-top: 1rem;
}

.info__section + .info__section {
	margin-top: 6rem;
}

.info__separator {
	text-align: center;
	color: $grey3;
	position: relative;
	margin: 8rem auto 2rem;

	&:after,
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 14rem;
		margin: 0 1rem;
		height: 2px;
		background: $grey1;
	}
}
