.info__section {
	padding: 2rem 0;

	a {
		color: $orange;
	}

	li {
		list-style: disc inside;
	}
}

.info__title {
	text-align: center;
	display: block;
	margin: 2rem auto 3rem;
	text-transform: uppercase;
	font-weight: 100;
}

.info__cover {
	max-width: 40rem;
	margin: 0 auto 2rem;
}

.info__subtitle {
	margin-top: 1rem;
}

.info__section + .info__section {
}

.info__separator {
	text-align: center;
	color: $grey3;
	position: relative;
	margin: 8rem auto 2rem;

	&:after,
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 14rem;
		margin: 0 1rem;
		height: 2px;
		background: $grey1;
	}
}

.info__section:nth-of-type(3n + 1) {
	.highlight svg {
		fill: $pink-medium-light;
	}
}

.info__section:nth-of-type(3n + 2) {
	.highlight svg {
		fill: $seafoam-light;
	}
}

.info__section:nth-of-type(3n + 3) {
	.highlight svg {
		fill: $orange-light;
	}
}


.info__block {
	margin-top: 2rem;
}

.info__block__header {
	text-align: center;
	margin: 1rem 1rem;
	text-transform: uppercase;
	position: relative;
	text-decoration: underline;

	/*&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: -2rem;
		width: calc(100% + 4rem);
		height: 1px;
		background-color: currentColor;
	}*/
}

.info__section__cta {
	text-align: center;
	margin-top: 2rem;
}

.info__section--house-rules {
	text-align: center;
}

.info__section--contact {
	text-align: center;

	.info__blocks {
		display: flex;
		flex-wrap: wrap;
	}

	.info__block {
		width: 50%;
		padding: 0 2rem;
		margin-bottom: 2rem;
		margin-top: 0;

		.info__cover {
			width: 80%;
		}
	}
}

.info--co-work .info__section--pricing {
	.info__blocks {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.info__block {
		width: calc(50% - 4rem);
		text-align: center;
		padding: 1rem;
		margin: 0 2rem 2rem;
		border: 2px solid $orange-light;
	}

	.info__block__header {
		margin-top: 0;
	}
}


.info--co-work .info__section--hours {
	text-align: center;
}
