.info__section {
	padding-top: calc($top-line + 3rem);
	padding-bottom: 2rem;
}

.info__title {
	text-align: center;
	display: block;
	margin: 2rem auto 3rem;
	text-transform: uppercase;
	font-weight: 100;
}

.info__cover {
	max-width: 40rem;
	margin: 0 auto;
}

.info__subtitle {
	margin-top: 1rem;
}

.info__section + .info__section {
}

.info__separator {
	text-align: center;
	color: $grey3;
	position: relative;
	margin: 8rem auto 2rem;

	&:after,
	&:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 14rem;
		margin: 0 1rem;
		height: 2px;
		background: $grey1;
	}
}

.info__section:nth-of-type(3n + 1) {
	.highlight svg {
		fill: $pink-medium-light;
	}
}

.info__section:nth-of-type(3n + 2) {
	.highlight svg {
		fill: $seafoam-light;
	}
}

.info__section:nth-of-type(3n + 3) {
	.highlight svg {
		fill: $orange-light;
	}
}
