main {
	padding: 4rem 2rem 4rem 20rem;
}

.projectList__year {
	margin-top: 3rem;

	.title {
		flex-basis: 100%;
		font-weight: 700;
		margin-bottom: 1rem;
	}
}

.projectList__project {
	width: calc(33% - 1rem);
	display: inline-block;
	vertical-align: top;
	margin-bottom: 1rem;
}

.project__thumb {
	width: 100%;
	padding-bottom: 85%;
	position: relative;
	overflow: hidden;

	img {
		position: absolute;
		object-fit: cover;
		width: 100%;
		height: 100%;
		object-position: 50% 50%;
	}
}

.projectList__project.hidden {
	display: none;
}
