
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: white;
	height: $nav-height;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1px solid currentColor;
}

.nav__item {
	display: inline-block;
}

.nav__item + .nav__item {
	margin-left: 2em;
}
