
nav {
	width: $nav-width;
	position: fixed;
	padding: 2rem;
}

.nav__section {
	padding-left: 1rem;
	margin: 0.75rem 0 0.75rem;
}

.nav__title {
	margin-left: -1rem;
	margin-bottom: 0.5rem;
}

.nav__section--categories {
	.nav__title {
		color: gray;

		.minus {
			display: none;
		}
	}

	.nav__category-menu {
		display: none;
	}

	&.open {
		.nav__category-menu,
		.nav__title .minus {
			display: initial;
		}
		.nav__title .plus {
			display: none;
		}
	}
}

input[type="checkbox"] {
	width: .7em;
	height: .7em;
	margin-right: .35em;
	margin-bottom: .1em;
	border: 1px solid black;
	position: relative;
	vertical-align: text-bottom;

	&:checked {
		&:before, &:after {
			content: '';
			width: calc(100% - 0px);
			height: 1px;
			background-color: black;
			position: absolute;
			left: 0;
			top: calc(50% - 1px);
			transform: rotate(45deg);
			transform-origin: center;
		}

		&:after {
			transform: rotate(-45deg);
		}
	}
}
