/*
$purple-light: #e9e8ff;
$seafoam: #00FF81;
$seafoam-light: #c3ffe2;
$orange: #FF8000;
$pink: #FF0DCB;
$pink-light: #FF7be3;
$yellow: #FFFC00;
$grey1: rgb(220, 220, 220);
$grey3: #9b9b9b;
$grey5: #4a4a4a;
*/

section.schedule {
  max-width: 800px;
  padding: 0 40px;
  margin: 0 auto;
}

section.schedule main {
  padding: 10rem 0;
}

.schedule__calendar {
  margin: 4rem auto;
}

.schedule__nav {
  display: flex;
  justify-content: space-between;
}

.schedule__end .schedule__next,
.schedule__beginning .schedule__previous {
  @mixin invisible;
}

.schedule__class {
  background-image: linear-gradient(to right, $orange-light, $orange 30%);
  position: relative;
  border-radius: 0.3rem;
  padding: 0.3rem;
  text-align: center;

  * {
    z-index: 10;
  }

  & + .schedule__class {
    margin-top: 1rem;
  }
}

.schedule__class__inner {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  background: white;
}

.class-power-pop {
  background-image: linear-gradient(to right, $pink-light, $pink 30%);
}

.class-shimmy-pop {
  background-image: linear-gradient(to right, $purple-light, $purple 30%);
}

.class-jungle-playroom-childcare {
  background-image: linear-gradient(to right, $seafoam-light, $seafoam 30%);
}

.schedule__class--past {
  background: $grey1;
  color: $grey3;
}

.schedule__class__title {
  flex-basis: 100%;
  text-transform: uppercase;
}

.schedule__class__teacher,
.schedule__class__signup {
  flex-basis: 12rem;
}

.schedule__class__info {
  flex-grow: 1;
}
