.cover {
	position: relative;
	overflow: hidden;

	figure,
	figure.responsiveImage,
	.responsiveImage img,
	video {
		transition: .2s;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}

	figure {
		opacity: 1;
		z-index: 2;
	}

	video {
		opacity: 0;
		z-index: 1;
	}

	&.cover--playing {
		figure {
			opacity: 0;
		}
		video {
			opacity: 1;
		}
	}
}

.cover__padding {
	width: 100%;
}
